.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.cart-content {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-button-buy-now {
  background-color: #f5f7fa !important;
}

.cart-button-buy-now:hover {
  background-color: #eeecec !important;
}

.cart-course-img {
  /* width: 25%; */
  width: 165px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
}

/* .cart-course-title {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 400px;
} */

.cart-course-author {
  color: #888;
  font-size: 0.875rem;
  white-space: nowrap;
}

.cart-rating-star {
  color: #f39c12;
  font-weight: 600;
  white-space: nowrap;
}

.cart-price-current {
  color: #ff5722;
  font-weight: 600;
  font-size: 1.2rem;
}

.cart-price-old {
  text-decoration: line-through;
  color: #999;
  font-size: 0.875rem;
}

/* .-btn-cart {
    background-color: #ff5722 !important;
    color: white !important;
    border: 1px solid #ff5722 !important;
}

.btn-cart:hover {
    background-color: #fff !important;
    color: #ff5722 !important;
} */

.cart-btn-fav {
  background-color: #ffeee8 !important;
  color: #ff5722 !important;
}

.cart-button-primary {
  background-color: #ff5722 !important;
  border: 1px solid #ff5722 !important;
}

.cart-button-outline {
  background-color: transparent !important;
  color: #ff5722 !important;
  border: 1px solid #ff5722 !important;
}

.cart-button-outline:hover {
  background-color: #ff5722 !important;
  color: white !important;
}
.cart-total-money {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}
.cart-button-checkout button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
}
.cart-button-checkout button:hover {
  background-color: #e64a19;
  color: white;
}
.cart-button-checkout button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
.cart-total-money-border {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .cart-total-money-border {
    padding: 0;
    border:none;
  }
  .cart-button-checkout {
    width: 100%;
  }
}
