.wishlist-button-buy-now {
    background-color: #F5F7FA !important;
}

.wishlist-button-buy-now:hover {
    background-color: #eeecec !important;
}

.course-img {
    /* width: 25%; */
    width: 165px;
    border-radius: 6px;
}

.course-title {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 400px;
}

.course-author {
    color: #888;
    font-size: 0.875rem;
    white-space: nowrap;
}

.rating-star {
    color: #f39c12;
    font-weight: 600;
    white-space: nowrap;
}

.price-current {
    color: #ff5722;
    font-weight: 600;
    font-size: 1.2rem;
}

.price-old {
    text-decoration: line-through;
    color: #999;
    font-size: 0.875rem;
}

.btn-cart {
    background-color: #ff5722 !important;
    color: white !important;
    border: 1px solid #ff5722 !important;
}

.btn-cart:hover {
    background-color: #fff !important;
    color: #ff5722 !important;
}

.btn-fav {
    background-color: #FFEEE8 !important;
    color: #ff5722 !important;
}

.wishlist-button-primary {
    background-color: #ff5722 !important;
    border: 1px solid #ff5722 !important;
}

.wishlist-button-outline {
    background-color: transparent !important;
    color: #ff5722 !important;
    border: 1px solid #ff5722 !important;
}
.wishlist-button-outline:hover {
    background-color: #ff5722 !important;
    color: white !important;
}